@color-white: white;
@color-primary: #ff5777;
@color-tint: #ff8198;
@color-gray: #333333;
@color-med-gray: #666666;
@color-deep-gray: #999999;
@color-light-gray: #cccccc;
@default-font-size: 14px;
@default-line-height: 1.5;
