@import "./base/var.less";
@import "./base/mixins.less";
@import "./base/rem.less";
@import "./base/reset.less";

body {
  background: @color-white;
  color: @color-gray;
  line-height: 1.2;
  font-size: 14px;
}
a {
  .setTapColor();
}
